# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates

# Logs
*.log

# .NET
**/bin/
**/obj/
*.rsuser

# Flutter/Dart
**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.packages
**/build/
**/coverage/
**/ios/Pods/
**/ios/.symlinks/
**/macos/Pods/
**/linux/flutter/ephemeral/
**/windows/flutter/ephemeral/

# Generated
*.g.dart
*.freezed.dart
